# Official Alpaca API
alpaca-py

# URL-safe Ascii85/Base85 data encoding
b64fx

# Password Hashing
bcrypt

grip

ipython

# Drop-in gzip replacement accelerated by Intel AVX
isal

matplotlib

msgspec

# Pandas 2.2.0 has a memory leak
# This should have been fixed in pandas 2.2.3
#pandas==2.1.4
pandas==2.3.3
#pandas

# Technical Analysis library for generating signals/indicators
# https://github.com/twopirllc/ - WTF HAPPENED HERE?!?1
#pandas_ta
# https://github.com/xgboosted/pandas-ta-classic
pandas_ta_classic
TA-Lib

orjson

plotly

polars

pybase64

pygments

# pyqtgraph

pysimdjson

# Python bindings for ZMQ
pyzmq

# Python bindings for Redis
redis[hiredis]

scapy

# Trend Lines using Linear Regression Statistics
scipy

# seaborn

streamlit
streamlit-aggrid

# Websocket library (Should look into alpacas Stream class)
rel
websocket-client
wsaccel

xxhash

# yfinance

# This library is the official-adjacent, heavily maintained, and feature-complete wrapper for Zstd maintained by Gregory Szorc.
zstandard
# This library is a much older, independent project maintained by Sergey Dryabzhinsky (The Legacy Simple Wrapper)
#python-zstd

zxc-compress
